.bg-food {
  background-image: url("assets/background.jpg");
  background-size: cover;
}

#reader__scan_region {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#html5-qrcode-button-camera-permission {
  background-color: #8f51b5;
  font-size: 0.9rem;
  font-weight: bold;
  color: #eeeeeb;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid #8f51b5;
  margin-bottom: 5px;
}

#html5-qrcode-button-camera-permission:hover {
  background-color: #eeeeeb;
  color: #8f51b5;
}
